<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://images.unsplash.com/photo-1613338277187-e4ec115398c1?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">mithesh109</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>342</span> following</li>
      </ul>
      <h2 class="name">Mithesh</h2>
      <a class="website">mithesh.com</a>
    </div>
  </div>
</div>

<div class="user-tabs">
  <a href="" class="tab active">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a href="" class="tab">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a href="" class="tab">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a href="" class="tab">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<div class="user-images">
  <div class="wrapper">
    <img src="https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8dGVjaG5vbG9neXxlbnwwfDJ8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" srcset="">
  </div>
  <div class="wrapper">
    <img src="https://images.unsplash.com/photo-1599989640500-8516e87bf9f4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8ODJ8fGFydHxlbnwwfDJ8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" srcset="">
  </div>
  <div class="wrapper">
    <img src="https://images.unsplash.com/photo-1490059830487-2f86fddb2b4b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTB8fHN0cmVldCUyMHBob3RvZ3JhcGh5fGVufDB8MnwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" srcset="">
  </div>
</div>